/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: #000;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.igor-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #ff5757;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

button:hover{
    box-shadow: 0px 0px 8px #ff5757a8;
    transform: scale(1.15);
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
    padding-top: 40px;
}

h2.titulo span{
    color: #ff5757;
}

/* ESTILO CABEÇALHO */
header{
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav.menu-desktop a {
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover{
    color: #fff;
    transform: scale(1.15);
}

header img{
    height: 90px;
}

header nav ul{
    list-style-type: none;
}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;
}

/* MENU MOBILE */

.abrir-menu{
    display: none;
}

.abrir-menu i{
    color: #ff5757;
    font-size: 40px;
}

.menu-mobile{
    background: #000;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 00%;
    overflow: hidden;
    transition: .2s;
}

.menu-mobile.menu-abrir{
    width: 70%;
}

.menu-mobile.menu-abrir ~ .overlay-menu{
    display: block;
}

.menu-mobile .menu-fechar{
    padding: 20px 5%;
}

.menu-mobile .menu-fechar i{
    color: #ff5757;
    font-size: 30px;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
    text-decoration: none;
}

.menu-mobile nav ul li a:hover{
    background-color: #ff5757;
    color: #ffe3e3de;
}

.overlay-menu{
    background-color: #00000094;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;
    display: none;
}

/* Estilo Topo do site */

section.topo-do-site{
    padding: 30px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span{
    color: #ff5757;
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    margin-right: 20px;
}


@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* ESTILO DAS ESPECIALIDADES */ 

section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 12px #ffffff81;
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: #ff5757;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}

/* ESTILO SOBRE */ 

section.sobre {
    padding: 80px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .img-sobre img{
    width: 390px;
    border-radius: 24px;
}

.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: #ff5757;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.sobre .txt-sobre .igor-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #ff5757;
    font-size: 22px;
    cursor: pointer;
    margin: 0 8px;
    transition: .2s;
}

/* ESTILO PORTFÓLIO */ 

section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff25;
}

section.portfolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 2s;
    cursor: pointer;
    border-radius: 32px;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000008c;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

/* TECH CONNECT, SUMMIT & YOUTUBE */

.voltar button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #ff5757;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.topo-do-site .igor-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #ff5757;
    font-size: 22px;
    cursor: pointer;
    margin: 0 8px;
    transition: .2s;
}

.topo-do-site .botoesconnect{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px 4%;
}

.topo-do-site .img-topo-site1 img{
    width: 750px;
    height: 500px;
}

/* TECH SUMMIT */

.topo-do-site .img-topo-site2 img{
    height: 600px;
    width: 600px;
}

/* CLONE YOUTUBE */ 

.topo-do-site .img-topo-site3 img{
    height: 370px;
    width: 600px;
}

/* FALA COMIGO */

section.fala {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff25;
}

section.fala .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.fala .igor-social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.fala .igor-social button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    background-color: #ff5757;
    font-size: 22px;
    cursor: pointer;
    margin: 0 8px;
    transition: .2s;
}

/* FOOTER */

footer{
    padding: 45px 4%;
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid #ff5757;
}

footer .logo-footer img{
    height: 90px;
}

footer .line-footer p{
    align-items: center;
    justify-content: center;
}

footer .line-footer p i{
    color: #ff5757;
    font-size: 22px;
}

footer .line-footer a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-left: 8px;
}

@media screen and (max-width:1020px){
    /* CLASSES GERAIS */
    .flex{
        flex-direction: column;
    }

    h2.titulo {
    font-size: 34px;
    line-height: 30px;
}

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }

    .sobre .flex{
        flex-direction: column-reverse;
    }


    /* CABEÇALHO */
    .menu-desktop, .igor-contato{
        display: none;
    }

    /* TOPO DO SITE */

    section.topo-do-site{
    padding: 20px 8%;
    }

    .topo-do-site h1{
    font-size: 30px;
    }

    /* ESTILO DAS ESPECIALIDADES */ 

    section.especialidades{
    padding: 40px 8%;
    }

    /* ESTILO SOBRE */ 

    section.sobre {
    padding: 80px 8%;
    }

    .sobre .txt-sobre h2{
    font-size: 34px;
    line-height: 35px;
    text-align: center;
    }

    .igor-social{
        text-align: center;
        margin-top: 30px;
    }

    .sobre .img-sobre img{
        margin: 0 30px;
    }

    /* PORTFOLIO */

    section.portfolio {
    padding: 80px 8%;
    }

    section.portfolio .flex{
    gap: 60px;
    }

    .img-port{
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    }

    /* FALA COMIGO */

    section.fala {
    padding: 80px 8%;
    }

    .fala .igor-social{
    gap: 20px;
    }

    .fala .igor-social button{
    width: 65px;
    max-width: 100%;
    height: 65px;
    max-height: 100%;
    }

    /* MENU MOBILE */

    .abrir-menu{
        display: block;
    }
}